.body {
  font-family: var(--inter);
}

.main {
  position: relative;
}

.gradient-background {
  position: absolute;
  inset: 0% auto auto 0%;
  width: 100%;
  height: 70vh;
  background-image: url("https://cdn.prod.website-files.com/694c8df17de159b81ff8070b/694c8df37de159b81ff807bd_background-gradient.webp");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  overflow-wrap: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
}

@media screen and (max-width: 991px) {
  .gradient-background {
    height: 60vh;
  }
}

.section {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 190px;
  padding-bottom: 60px;
  background-image: none;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 160px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 140px;
  }
}

.hero-heading-h1 {
  max-width: 1100px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--inter);
  color: var(--black-100);
  font-size: 80px;
  line-height: 120%;
  font-weight: 500;
}

.container-main {
  display: flex;
  max-width: 1272px;
  padding-right: 20px;
  padding-left: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .hero-heading-h1 {
    font-size: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .container-main {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .hero-heading-h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 55px;
    line-height: 110%;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading-h1 {
    font-size: var(--heading-h3-desktop);
    line-height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .container-main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
