.services-grid {
  max-width: var(--container-lg);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 64px;
  display: grid;
}

.service-item {
  background-color: rgba(186, 129, 238, 0.2);
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #31333033;
  border-radius: 16px;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 32px;
  display: flex;
}
.service-title {
  font-size: var(--heading-h6-desktop);
  max-width: 115px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 24px;
}
